<!doctype html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head.html::head}"></div>
    <title>List</title>
</head>
<body>
<header th:replace="~{fragments/header.html::header}"></header>
<main>
    <section>
        <table>
            <colgroup>
                <col style="width:8%;">
                <col style="width:10%;">
                <col>
                <col style="width:10%;">
                <col style="width:15%;">
                <col style="width:8%;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" >번호</th>
                    <th scope="col">카테고리</th>
                    <th scope="col" id="title" class="desc">제목<span>↓</span></th>
                    <th scope="col" id="seller" class="desc">작성자<span>↓</span></th>
                    <th scope="col" id="createTime" class="desc">날짜<span>↓</span></th>
                    <th scope="col" id="viewCount" class="desc">조회<span>↓</span></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
</main>
<footer th:replace="~{fragments/footer.html::footer}"></footer>
</body>
</html>