<!doctype html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head.html::head}"></div>
    <title>write</title>
    <style>
        #input_box{
            text-align:center;
        }
    </style>
</head>
<body>
    <header th:replace="~{fragments/header.html::head}"></header>
    <main>
        <section id="input_box">
            <div id="input_category">
                <select >
                    <option th:each="category : ${categoryList}" class="category_option"
                            th:value="${category.category_id}"
                            th:text="${category.category_title}">
                    </option>
                </select>
            </div>
            <div>
                <label for="input_title">제목</label>
                <input id="input_title" class="form-control is-valid" type="text" placeholder="제목" aria-describedby="input_titleValid"/>
                <div class="invalid-feedback">제목을 입력해주세요</div>
                <div class="valid-feedback"></div>
            </div>
            <div>
                <label for="input_content">내용</label>
                <input id="input_content" class="form-control is-valid" type="text" placeholder="내용" />
                <div class="invalid-feedback">내용을 입력해주세요</div>
                <div class="valid-feedback"></div>
            </div>

            <div>
                <div>
                    <ul class="img_preview">
                    </ul>
                </div>

                <label for="input_img">이미지</label>
                <input id="input_img" type="file" accept="image/*" multiple style="display:none;">
                <div id="upload">upload</div>
            </div>

            <div>
                <button id="write_btn" class="btn" onclick="submit()">저장</button>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
<script src="/board/write.js"></script>
</body>
</html>