<!doctype html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head.html::meta}"></div>
    <title>Join</title>
    <style>
        .join-form {
        position:absolute;
        top:45%;
        left:50%;
        text-align: center; /* 텍스트 가운데 정렬 */
        transform: translate(-50%, -50%);
    }
        footer {
            position: fixed; /* 화면에 고정 */
            bottom: 0; /* 화면 아래에 위치 */
            width: 100%; /* 전체 너비 */
            text-align: center; /* 텍스트 가운데 정렬 */
        }
    </style>

</head>
<body>
    <header th:replace="~{fragments/header.html::header}"></header>
    <main>

        <section class="join-form">
            <h2>회원가입</h2>
            <form action="/join" method="post">
                <div class="row" style="border:solid 1px;margin-left: 0px;padding-left: 20px;margin-right: 0px;">
                    <div class="row mb-2" style="width=50%">
                        <label for="email">이메일</label>
                        <input class="is-valid" id="email" name="email" type="email" required/>
                        <div id="invalid_email_feedback" style="display:none;">이메일을 확인해 주십시오</div>
                        <div id="valid_email_feedback">확인</div>
                    </div>

                    <div class="row mb-2">
                        <label for="name">이름</label>
                        <input class="is-valid" id="name" name="name" type="text" required/>
                        <div id="invalid_name_feedback" style="display:none;" >이름을 확인해 주십시오</div>
                        <div id="valid_name_feedback">확인</div>
                    </div>

                    <div class="row mb-2">
                        <label for="password">비밀번호</label>
                        <input  class="is-valid" id="password" name="password" type="password" required/>
                        <div id="invalid_password_feedback" style="display:none;">비밀번호를 확인해 주십시오</div>
                        <div id="valid_password_feedback">확인</div>
                    </div>

                    <div class="row mb-2">
                        <label for="checkPassword">비밀번호 확인</label>
                        <input id="checkPassword" name="password" type="password" required/>
                        <div id="invalid_checkPassword_feedback" style="display:none;">비밀번호가 일치하지 않습니다</div>
                        <div id="valid_checkPassword_feedback">확인</div>
                    </div>

                    <div class="row mb-2">
                        <button id="register_btn" class="btn" type="button" disabled="true" onclick="submit()">회원가입</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/user/join.js"></script>
</body>
</html>