<!doctype html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="/css/share.css"/>
</head>
<body>
    <footer th:fragment="footer">
        <button class="btn-moveTop" onclick="moveToTop()"></button>
        <span>by 717276</span>
        <srcipt src="/js/share.js"></srcipt>
    </footer>
</body>
</html>