<!doctype html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/share.css"/>
</head>
<body>
<header th:replace="~{/fragments/header.html::header}"></header>
<main>
    <section class="home-img-slide">
        <ul>
            <li class="home-img-list" th:each="image : ${homeImage}">
<!--                <img class="home-img" th:src="${image.imageUrl}">-->
                <p><strong><span style="margin-top=30%; text-align=center;">TEST</span></strong></p>
            </li>
        </ul>
        <div class="home-img-btn">
            <button id="home-img-btn-next"> < </button>
            <button id="home-img-btn-prev"> > </button>
        </div>
    </section>
</main>
<footer th:replace="~{/fragments/footer.html::footer}"></footer>
</body>
</html>