<!doctype html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head.html::meta}"></div>
<!--    <script type="application/json" src="test.js"></script>-->
</head>
<body>
    <header th:replace="~{fragments/header.html::header}"></header>
    <main>
        <section class="login_info" style="text-align:center;">
            <h2>Login</h2>
            <form action="/loginProcessing" method="post">
                <div class="mb-3">
                    <input class="email" id="userEmail" name="userEmail" type="email" placeholder="enter email"/>
                </div>
                <div class="mb-3">
                    <input class="password" id="userPassword" name="userPassword" type="password" placeholder="enter password"/>
                </div>
                <div>
                    <a href="/user/findPassword">find password</a>
                </div>
                <div>
                    <button type="submit">login</button>
                    <button type="button" onclick="join()">join</button>
                </div>
            </form>
        </section>
    </main>
    <footer th:replace="~{fragments/footer.html::footer}"></footer>
    <script>
        function join() {
            window.location.href="/join";
        }
    </script>
</body>
</html>